<nav ng-app="omdbApp" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
      <a class="navbar-brand" ui-sref='try'>TryPage</a>
      <a class="navbar-brand" ui-sref='main'>Main</a>
      <a class="navbar-brand" ui-sref='searchPage'>Search Page</a>
      <a class="navbar-brand" ui-sref='movieDetail'>Movie Details</a>
      <a class="navbar-brand" ui-sref='movieList'>Movie List</a>
    </div>
  </div>
</nav>
